<body>
  <h3 id="about">ABOUT</h3>
  <p>Hello, I'm a software developer and webcomic creator.</p>
  
  <h3 id="portfolio">Portfolio</h3><h3 id="videos">VIDEOS</h3>
  <p>Work in progress</p><iframe width="33%" height="25%" sandbox="allow-same-origin allow-scripts allow-popups" title="Channel Introduction" src="https://video.ploud.jp/videos/embed/d87e6375-8c07-41b6-89bf-90b61410133f" frameborder="0" allowfullscreen></iframe>
  
  <h3 id="personalinterests">PERSONAL INTERESTS</h3>
  <p>My interests are in anime, manga, and different mediums of art expression.</p>
  
  <h3 id="blog">BLOG<h3>
  <ceneter><iframe width="75%" height="100%" src="https://lwflouisa.github.io/SRWeaverShorts/"></iframe></center>
</body>
