<h1>LWFLOUISA</h1>
<h3><img src="https://raw.githubusercontent.com/LWFlouisa/LunaMediaNetwork/main/images/robosexuality2.jpeg" height="256px" width="256%"></h3><h3>Female</h3>
<h3>Age 32</h3>
<h3>Tennessee</h3>

<h1>Contacting LWFlouisa</h1>
<h3><a href="https://lwflouisa.github.io/LunaMediaNetwork/feed.xml">Subscribe</a><h3>

<h1><u>Interests</u></h1>
<h3>General</h3>
<h6>I am a webcomic creator and artificial intelligence developer.</h6>
<h3>Music</h3>
<h6>There was a period of time my main interest was in heavy metal, but later this switched to Cyberpunk music. But eventually settled on French and Japanese folk music.</h6>
<h3>Television</h3>
<h6>I'm not personally interested in television. To many years of show censorship basically lost me.</h6>
<h3>Movies</h3>
<h6>My favorite anime is probably Elfen Lied, although I am also a fan of Saikano. US movies include 12 Monkeys, Jacobs Ladder, and Silence Of The Lambs.</h6>
<h3>Art</h3>
<h6>I started out as mainly a writer, having written nine science fiction novels and several short stories. But I mainly produce webcomics. Would like to get back into writing prose at some point.</h6>
